
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    /*fonts*/
    --font-opensans: "Open Sans", sans-serif;
    --size-0: 0px;
    --size-2: 2px;
    --size-4: 4px;
    --size-6: 6px;
    --size-8: 8px;
    --size-10: 10px;
    --size-12: 12px;
    --size-14: 14px;
    --size-16: 16px;
    --size-18: 18px;
    --size-20: 20px;
    --size-24: 24px;
    --size-28: 28px;
    --size-32: 32px;
    --size-40: 40px;
    --size-48: 48px;
    --size-64: 64px;
    --size-9999: 9999px;

    



    --base-first-layer-z-index: 1000;
    --base-second-layer-z-index: 1010;
    --base-third-layer-z-index: 1020;
    --base-fourth-layer-z-index: 1030;
    --middle-first-layer-z-index: 2000;
    --middle-second-layer-z-index: 2010;
    --middle-third-layer-z-index: 2020;
    --middle-fourth-layer-z-index: 2030;
    --top-first-layer-z-index: 3000;
    --top-second-layer-z-index: 3010;
    --top-third-layer-z-index: 3020;
    --top-fourth-layer-z-index: 3030;
    --isk-spacing-xxstrasmall: 0.25rem;
    --isk-spacing-xtrasmall: 0.5rem;
    --isk-spacing-small: 1rem;
    --isk-spacing-medium: 1.5rem;
    --isk-spacing-large: 2rem;
    --isk-spacing-xtralarge: 2.5rem;
    --isk-spacing-xxtralarge: 3rem;
    --isk-spacing-xxxtralarge: 3.5rem;
    --isk-spacing-xxxxtralarge: 4rem;
    --font-size-0: 12;
    --font-size-1: 14;
    --font-size-2: 16;
    --font-size-3: 18;
    --font-size-4: 20;
    --font-size-5: 22;
    --font-size-6: 24;
    --font-size-7: 28;
    --font-size-8: 32;
    --font-size-9: 32;
    --font-size-10: 33;
    --font-size-body-xs: 0.75rem;
    --font-size-body-small: 0.875rem;
    --font-size-body-medium: 1rem;
    --font-size-body-large: 1.125rem;
    --font-size-body-extralarge: 1.25rem;
    --font-size-heading-xs: 1rem;
    --font-size-heading-small: 1.375rem;
    --font-size-heading-medium: 1.5rem;
    --font-size-heading-large: 1.75rem;
    --font-size-heading-extralarge: 2rem;
    --font-size-button-large: 1.125rem;
    --font-size-button-medium: 1rem;
    --font-size-button-small: 0.875rem;
    --isk-font-size-0: var(--font-size-0);
    --isk-font-size-1: var(--font-size-1);
    --isk-font-size-2: var(--font-size-2);
    --isk-font-size-3: var(--font-size-3);
    --isk-font-size-4: var(--font-size-4);
    --isk-font-size-5: var(--font-size-5);
    --isk-font-size-6: var(--font-size-6);
    --isk-font-size-7: var(--font-size-7);
    --isk-font-size-8: var(--font-size-8);
    --isk-font-size-9: var(--font-size-9);
    --isk-font-size-10: var(--font-size-10);
    --isk-font-size-body-xs: var(--font-size-body-xs);
    --isk-font-size-body-small: var(--font-size-body-small);
    --isk-font-size-body-medium: var(--font-size-body-medium);
    --isk-font-size-body-large: var(--font-size-body-large);
    --isk-font-size-body-extralarge: var(--font-size-body-extralarge);
    --isk-font-size-heading-xs: var(--font-size-heading-xs);
    --isk-font-size-heading-small: var(--font-size-heading-small);
    --isk-font-size-heading-medium: var(--font-size-heading-medium);
    --isk-font-size-heading-large: var(--font-size-heading-large);
    --isk-font-size-heading-extralarge: var(--font-size-heading-extralarge);
    --isk-font-size-button-large: var(--font-size-button-large);
    --isk-font-size-button-medium: var(--font-size-button-medium);
    --isk-font-size-button-small: var(--font-size-button-small);



    /*colors*/
    $primary-color: #fff;
    $secondary-color: #639605;
    $accent-color: #e74c3c;
    $text-color: #555555;
    $background-color: #F4F4F4;
    

    --isk-primary-dark: #280;
    --isk-primary-main: #7ab800;
    --isk-primary-light: #f2fae6;
    --isk-secondary-dark: #00493d;
    --isk-secondary-main: #00632e;
    --isk-secondary-light: #ddf4db;
    --isk-third-main: #ff5412;
    --isk-third-light: #ffd178;
    --isk-extra-dark: #413936;
    --isk-extra-main: #5d4f4a;
    --isk-extra-extra: #00ddfa;
    --isk-extra-lighter: #fafafa;
    --isk-extra-light: #f6f6f6;
    --isk-extra-cielitolindo: #00ddfa;
    --isk-neutral-10: #dbdbdb;
    --isk-neutral-20: #b3b3b3;
    --isk-neutral-40: #757575;
    --isk-neutral-60: #555;
    --isk-neutral-80: #333;
    --isk-neutral-100: #000;
    --isk-neutral-05: #f6f6f6;
    --isk-neutral-00: #fff;
    --isk-info-dark: #3a70e2;
    --isk-info-main: #3396ff;
    --isk-info-light: #f1f8ff;
    --isk-success-dark: #0a8552;
    --isk-success-main: #40a574;
    --isk-success-light: #f2faf6;
    --isk-error-dark: #e72225;
    --isk-error-main: #ec5659;
    --isk-error-light: #fef2f2;
    --isk-warning-dark: #ff9500;
    --isk-warning-main: #ffb650;
    --isk-warning-light: #fff8eb;
    --isk-opacity-dark-0: #0000;
    --isk-opacity-dark-10: #0000001a;
    --isk-opacity-dark-20: #0003;
    --isk-opacity-dark-30: #0000004f;
    --isk-opacity-dark-45: #00000073;

    --color-black-alpha-05: #0000000d;
    --color-black-alpha-10: #0000001a;
    --color-black-alpha-20: #0003;
    --color-black-alpha-40: #0006;
    --color-black-alpha-60: #0009;
    --color-black-alpha-80: #000c;
    --color-scarlet-100: #ffedf0;
    --color-scarlet-200: #ffc3c5;
    --color-scarlet-300: #ffabb7;
    --color-scarlet-400: #e75354;
    --color-scarlet-600: #b51416;
    --color-scarlet-700: #980f10;
    --color-scarlet-800: #6b0607;
    --color-scarlet-900: #360a0a;
    --color-scarlet-default: #cc292b;
    --color-clown-fish-dark: #a33206;
    --color-clown-fish-darker: #5d4f4a;
    --color-clown-fish-default: #ff5512;
    --color-clown-fish-light: #ffac8c;
    --color-clown-fish-lighter: #fff0eb;
    --color-cornflower-dark: #3a70e2;
    --color-cornflower-default: #5dabff;
    --color-cornflower-light: #f1f8ff;
    --color-ficus-dark: #00493d;
    --color-ficus-default: #00632e;
    --color-ficus-light: #ddf4db;
    --color-mint-dark: #2e5f50;
    --color-mint-default: #b9eddd;
    --color-mint-light: #ebfff9;
    --color-neutral-100: #dbdbdb;
    --color-neutral-200: #b3b3b3;
    --color-neutral-400: #777;
    --color-neutral-50: #f6f6f6;
    --color-neutral-600: #555;
    --color-neutral-800: #333;
    --color-neutral-black: #000;
    --color-neutral-white: #fff;
    --color-olive-dark: #4c9701;
    --color-olive-darker: #280;
    --color-olive-default: #7ab800;
    --color-olive-light: #98dc11;
    --color-olive-lighter: #f8ffeb;
    --color-pale-turquoise-dark: #033b40;
    --color-pale-turquoise-default: #b9e9ed;
    --color-pale-turquoise-light: #ebfdff;
    --color-sand-dark: #fabf4d;
    --color-sand-darker: #d7981e;
    --color-sand-default: #fde1ab;
    --color-sand-light: #ffecc8;
    --color-sand-lighter: #fff8eb;
    --color-tomato-dark: #9f1f1f;
    --color-tomato-default: #ec5659;
    --color-tomato-light: #fef2f2;
    --color-vitamin-c-dark: #cf7c09;
    --color-vitamin-c-default: #ff9500;
    --color-vitamin-c-light: #fff8eb;
    --color-wakame-dark: #0a8552;
    --color-wakame-default: #47b881;
    --color-wakame-light: #f2faf6;
    --color-white-alpha-04: #fff;
    --color-white-alpha-10: #ffffff1a;
    --color-white-alpha-20: #fff3;
    --color-white-alpha-40: #fff6;
    --color-white-alpha-60: #fff9;
    --color-white-alpha-80: #fffc;
    --color-yellow-dark: #3d3900;
    --color-yellow-default: #ffec00;
    --color-yellow-light: #fffdeb;
    --mobile: 479px;
    --until-tablet: 768px;
    --tablet: 769px;
    --touch: 1023px;
    --since-desktop: 1024px;
    --desktop: 1199px;
    --widescreen: 1200px;
    --full-hd: 1408px;
    --font-weights-regular: 400;
    --font-weights-semi: 600;
    --font-weights-bold: 700;
    --font-weights-nunito-0: regular;
    --font-weights-nunito-1: semibold;
    --font-weights-nunito-2: bold;
    --isk-font-weights-regular: var(--font-weights-regular);
    --isk-font-weights-semi: var(--font-weights-semi);
    --isk-font-weights-bold: var(--font-weights-bold);
    --isk-font-weights-nunito-0: var(--font-weights-nunito-0);
    --isk-font-weights-nunito-1: var(--font-weights-nunito-1);
    --isk-font-weights-nunito-2: var(--font-weights-nunito-2);
    --line-height-body-xs: 1.063rem;
    --line-height-body-small: 1.125rem;
    --line-height-body-medium: 1.375rem;
    --line-height-body-large: 1.5rem;
    --line-height-body-extralarge: 1.625rem;
    --line-height-heading-xs: 1rem;
    --line-height-heading-small: 1.875rem;
    --line-height-heading-medium: 2rem;
    --line-height-heading-large: 2.375rem;
    --line-height-heading-extralarge: 2.75rem;
    --line-height-button-large: 1.5rem;
    --line-height-button-medium: 1.375rem;
    --line-height-button-small: 1.25rem;
    --font-families-nunito: "Nunito";
    --font-families-opensans: "Open Sans";
    --font-families-nexa: "Nexa";
    --font-families-poppins: "Poppins";
    --font-families-icons: "Iskaypet Icons";
    --font-families-default: -apple-system,blinkmacsystemfont,"Segoe UI",roboto,helvetica,arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --isk-font-families-nunito: var(--font-families-nunito);
    --isk-font-families-opensans: var(--font-families-opensans);
    --isk-font-families-nexa: var(--font-families-nexa);
    --isk-font-families-poppins: var(--font-families-poppins);
    --isk-font-families-icons: var(--font-families-icons);
    --isk-font-families-default: var(--font-families-default);
    --isk-border-radius-small: 0.25rem;
    --isk-border-radius-medium: 0.375rem;
    --isk-border-radius-xtralarge: 0.5rem;
    --isk-border-radius-rounded: 6.25rem;
    --filter-primary-dark: brightness(0) saturate(100%) invert(33%) sepia(22%) saturate(5766%) hue-rotate(75deg) brightness(97%) contrast(104%);
    --filter-primary-main: brightness(0) saturate(100%) invert(74%) sepia(34%) saturate(5977%) hue-rotate(39deg) brightness(94%) contrast(101%);
    --filter-primary-light: brightness(0) saturate(100%) invert(95%) sepia(6%) saturate(528%) hue-rotate(47deg) brightness(105%) contrast(96%);
    --filter-secondary-dark: brightness(0) saturate(100%) invert(15%) sepia(73%) saturate(2548%) hue-rotate(156deg) brightness(89%) contrast(106%);
    --filter-secondary-main: brightness(0) saturate(100%) invert(18%) sepia(87%) saturate(2444%) hue-rotate(142deg) brightness(89%) contrast(101%);
    --filter-secondary-light: brightness(0) saturate(100%) invert(89%) sepia(9%) saturate(470%) hue-rotate(68deg) brightness(109%) contrast(91%);
    --filter-third-main: brightness(0) saturate(100%) invert(45%) sepia(97%) saturate(3228%) hue-rotate(351deg) brightness(99%) contrast(104%);
    --filter-third-light: brightness(0) saturate(100%) invert(89%) sepia(99%) saturate(7492%) hue-rotate(311deg) brightness(107%) contrast(105%);
    --filter-extra-dark: brightness(0) saturate(100%) invert(20%) sepia(9%) saturate(643%) hue-rotate(331deg) brightness(94%) contrast(88%);
    --filter-extra-main: brightness(0) saturate(100%) invert(30%) sepia(8%) saturate(833%) hue-rotate(330deg) brightness(100%) contrast(90%);
    --filter-extra-extra: brightness(0) saturate(100%) invert(70%) sepia(49%) saturate(4320%) hue-rotate(146deg) brightness(106%) contrast(105%);
    --filter-extra-lighter: brightness(0) saturate(100%) invert(94%) sepia(100%) saturate(1%) hue-rotate(354deg) brightness(106%) contrast(96%);
    --filter-extra-light: brightness(0) saturate(100%) invert(100%) sepia(57%) saturate(4%) hue-rotate(109deg) brightness(111%) contrast(93%);
    --filter-neutral-10: brightness(0) saturate(100%) invert(97%) sepia(38%) saturate(18%) hue-rotate(296deg) brightness(90%) contrast(91%);
    --filter-neutral-20: brightness(0) saturate(100%) invert(78%) sepia(11%) saturate(14%) hue-rotate(343deg) brightness(91%) contrast(89%);
    --filter-neutral-40: brightness(0) saturate(100%) invert(49%) sepia(8%) saturate(23%) hue-rotate(314deg) brightness(92%) contrast(94%);
    --filter-neutral-60: brightness(0) saturate(100%) invert(32%) sepia(10%) saturate(27%) hue-rotate(56deg) brightness(99%) contrast(94%);
    --filter-neutral-80: brightness(0) saturate(100%) invert(14%) sepia(32%) saturate(10%) hue-rotate(104deg) brightness(105%) contrast(88%);
    --filter-neutral-100: brightness(0) saturate(100%);
    --filter-neutral-05: brightness(0) saturate(100%) invert(99%) sepia(8%) saturate(196%) hue-rotate(211deg) brightness(110%) contrast(93%);
    --filter-neutral-00: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(147deg) brightness(94%) contrast(114%);
    --filter-info-dark: brightness(0) saturate(100%) invert(37%) sepia(61%) saturate(4103%) hue-rotate(212deg) brightness(97%) contrast(83%);
    --filter-info-main: brightness(0) saturate(100%) invert(62%) sepia(53%) saturate(1645%) hue-rotate(185deg) brightness(100%) contrast(103%);
    --filter-info-light: brightness(0) saturate(100%) invert(100%) sepia(22%) saturate(3352%) hue-rotate(177deg) brightness(103%) contrast(101%);
    --filter-success-dark: brightness(0) saturate(100%) invert(41%) sepia(100%) saturate(385%) hue-rotate(103deg) brightness(97%) contrast(94%);
    --filter-success-main: brightness(0) saturate(100%) invert(95%) sepia(6%) saturate(4441%) hue-rotate(77deg) brightness(76%) contrast(84%);
    --filter-success-light: brightness(0) saturate(100%) invert(92%) sepia(4%) saturate(494%) hue-rotate(81deg) brightness(110%) contrast(96%);
    --filter-error-dark: brightness(0) saturate(100%) invert(37%) sepia(82%) saturate(3995%) hue-rotate(338deg) brightness(88%) contrast(111%);
    --filter-error-main: brightness(0) saturate(100%) invert(41%) sepia(22%) saturate(4621%) hue-rotate(329deg) brightness(100%) contrast(85%);
    --filter-error-light: brightness(0) saturate(100%) invert(99%) sepia(12%) saturate(1645%) hue-rotate(294deg) brightness(105%) contrast(99%);
    --filter-warning-dark: brightness(0) saturate(100%) invert(76%) sepia(70%) saturate(4326%) hue-rotate(358deg) brightness(100%) contrast(107%);
    --filter-warning-main: brightness(0) saturate(100%) invert(90%) sepia(11%) saturate(7031%) hue-rotate(321deg) brightness(107%) contrast(103%);
    --filter-warning-light: brightness(0) saturate(100%) invert(94%) sepia(11%) saturate(837%) hue-rotate(310deg) brightness(108%) contrast(103%);
    --isk-gap-xxs: var(--size-4,4px);
    --isk-gap-xs: var(--size-6,6px);
    --isk-gap-s: var(--size-8,8px);
    --isk-gap-m: var(--size-12,12px);
    --isk-gap-l: var(--size-16,16px);
    --isk-gap-xl: var(--size-24,24px);
    --isk-gap-xxl: var(--size-32,32px);
    --isk-gap-xxxl: var(--size-64,64px);
    --isk-sizes-none: var(--size-0,0px);
    --isk-sizes-xxs: var(--size-4,4px);
    --isk-sizes-xs: var(--size-8,8px);
    --isk-sizes-s: var(--size-12,12px);
    --isk-sizes-m: var(--size-16,16px);
    --isk-sizes-l: var(--size-24,24px);
    --isk-sizes-xl: var(--size-32,32px);
    --isk-sizes-xxl: var(--size-64,64px);
    --isk-color-bg-default: var(--color-neutral-white,#fff);
    --isk-color-bg-default-invert: var(--color-neutral-800,#333);
    --isk-color-bg-error: var(--color-tomato-default,#ec5659);
    --isk-color-bg-error-hover: var(--color-tomato-dark,#9f1f1f);
    --isk-color-bg-error-muted: var(--color-tomato-light,#fef2f2);
    --isk-color-bg-input: var(--color-neutral-white,#fff);
    --isk-color-bg-input-disabled: var(--color-neutral-100,#dbdbdb);
    --isk-color-bg-input-focus: var(--color-neutral-white,#fff);
    --isk-color-bg-primary: var(--color-scarlet-default,#cc292b);
    --isk-color-bg-primary-active: var(--color-scarlet-600,#b51416);
    --isk-color-bg-primary-disabled: var(--color-scarlet-200,#ffc3c5);
    --isk-color-bg-primary-hover: var(--color-scarlet-700,#980f10);
    --isk-color-bg-primary-muted: var(--color-scarlet-100,#ffedf0);
    --isk-color-bg-primary-subtle: var(--color-scarlet-400,#e75354);
    --isk-color-bg-primary-subtle-hover: var(--color-scarlet-600,#b51416);
    --isk-color-bg-secondary: var(--color-neutral-white,#fff);
    --isk-color-bg-secondary-active: var(--color-neutral-400,#777);
    --isk-color-bg-secondary-disabled: var(--color-neutral-400,#777);
    --isk-color-bg-secondary-hover: var(--color-neutral-50,#f6f6f6);
    --isk-color-bg-secondary-muted: var(--color-neutral-50,#f6f6f6);
    --isk-color-bg-secondary-subtle: var(--color-neutral-100,#dbdbdb);
    --isk-color-bg-secondary-subtle-hover: var(--color-neutral-200,#b3b3b3);
    --isk-color-bg-success: var(--color-wakame-default,#47b881);
    --isk-color-bg-success-hover: var(--color-wakame-dark,#0a8552);
    --isk-color-bg-success-muted: var(--color-wakame-light,#f2faf6);
    --isk-color-bg-transparent-primary: var(--color-black-alpha-60,#0009);
    --isk-color-bg-transparent-primary-muted: var( --color-black-alpha-05,#0000000d );
    --isk-color-bg-transparent-primary-subtle: var(--color-black-alpha-20,#0003);
    --isk-color-bg-transparent-secondary: var(--color-white-alpha-80,#fffc);
    --isk-color-bg-transparent-secondary-muted: var(--color-white-alpha-04,#fff);
    --isk-color-bg-transparent-secondary-subtle: var( --color-white-alpha-40,#fff6 );
    --isk-color-bg-warning: var(--color-vitamin-c-default,#ff9500);
    --isk-color-bg-warning-hover: var(--color-vitamin-c-dark,#cf7c09);
    --isk-color-bg-warning-muted: var(--color-vitamin-c-light,#fff8eb);
    --isk-color-border-default: var(--color-neutral-100,#dbdbdb);
    --isk-color-border-error: var(--color-tomato-default,#ec5659);
    --isk-color-border-inactive: var(--color-neutral-100,#dbdbdb);
    --isk-color-border-info: var(--color-cornflower-default,#5dabff);
    --isk-color-border-input: var(--color-neutral-400,#777);
    --isk-color-border-input-disabled: var(--color-neutral-400,#777);
    --isk-color-border-input-focus: var(--color-cornflower-default,#5dabff);
    --isk-color-border-primary: var(--color-scarlet-default,#cc292b);
    --isk-color-border-primary-active: var(--color-scarlet-600,#b51416);
    --isk-color-border-primary-disabled: var(--color-scarlet-200,#ffc3c5);
    --isk-color-border-primary-focus: var(--color-cornflower-default,#5dabff);
    --isk-color-border-primary-hover: var(--color-scarlet-700,#980f10);
    --isk-color-border-primary-subtle: var(--color-scarlet-400,#e75354);
    --isk-color-border-primary-subtle-hover: var(--color-scarlet-600,#b51416);
    --isk-color-border-secondary: var(--color-scarlet-default,#cc292b);
    --isk-color-border-secondary-active: var(--color-scarlet-600,#b51416);
    --isk-color-border-secondary-disabled: var(--color-scarlet-200,#ffc3c5);
    --isk-color-border-secondary-focus: var(--color-cornflower-default,#5dabff);
    --isk-color-border-secondary-hover: var(--color-scarlet-default,#cc292b);
    --isk-color-border-secondary-subtle: var(--color-scarlet-400,#e75354);
    --isk-color-border-secondary-subtle-hover: var(--color-scarlet-600,#b51416);
    --isk-color-border-strong: var(--color-neutral-400,#777);
    --isk-color-border-subtle: var(--color-neutral-50,#f6f6f6);
    --isk-color-border-success: var(--color-wakame-default,#47b881);
    --isk-color-border-warning: var(--color-vitamin-c-default,#ff9500);
    --isk-color-icon-default: var(--color-neutral-800,#333);
    --isk-color-icon-error: var(--color-tomato-default,#ec5659);
    --isk-color-icon-inactive: var(--color-neutral-400,#777);
    --isk-color-icon-info: var(--color-cornflower-default,#5dabff);
    --isk-color-icon-inverted: var(--color-neutral-white,#fff);
    --isk-color-icon-muted: var(--color-neutral-600,#555);
    --isk-color-icon-primary: var(--color-scarlet-default,#cc292b);
    --isk-color-icon-primary-active: var(--color-scarlet-600,#b51416);
    --isk-color-icon-primary-disabled: var(--color-scarlet-200,#ffc3c5);
    --isk-color-icon-primary-hover: var(--color-scarlet-700,#980f10);
    --isk-color-icon-success: var(--color-wakame-default,#47b881);
    --isk-color-icon-warning: var(--color-vitamin-c-default,#ff9500);
    --isk-color-text-brand-primary: var(--color-scarlet-default,#cc292b);
    --isk-color-text-brand-primary-active: var(--color-scarlet-600,#b51416);
    --isk-color-text-brand-primary-disabled: var(--color-scarlet-200,#ffc3c5);
    --isk-color-text-brand-primary-hover: var(--color-scarlet-700,#980f10);
    --isk-color-text-error: var(--color-tomato-default,#ec5659);
    --isk-color-text-inactive: var(--color-neutral-200,#b3b3b3);
    --isk-color-text-info: var(--color-cornflower-default,#5dabff);
    --isk-color-text-invert: var(--color-neutral-white,#fff);
    --isk-color-text-link-primary: var(--color-cornflower-default,#5dabff);
    --isk-color-text-link-primary-hover: var(--color-cornflower-dark,#3a70e2);
    --isk-color-text-muted: var(--color-neutral-400,#777);
    --isk-color-text-primary: var(--color-neutral-black,#000);
    --isk-color-text-secondary: var(--color-neutral-800,#333);
    --isk-color-text-subtle: var(--color-neutral-600,#555);
    --isk-color-text-success: var(--color-wakame-default,#47b881);
    --isk-color-text-warning: var(--color-vitamin-c-default,#ff9500);
    --isk-color-bg-info: var(--color-cornflower-default,#5dabff);
    --isk-color-bg-info-hover: var(--color-cornflower-dark,#3a70e2);
    --isk-color-bg-info-muted: var(--color-cornflower-light,#f1f8ff);
    --isk-radius-none: var(--size-0,0px);
    --isk-radius-subtle: var(--size-2,2px);
    --isk-radius-secondary: var(--size-4,4px);
    --isk-radius-primary: var(--size-8,8px);
    --isk-radius-strong: var(--size-12,12px);
    --isk-radius-heavy: var(--size-24,24px);
    --isk-radius-rounded: var(--size-9999,9999px);
    --isk-padding-none: var(--size-0,0px);
    --isk-padding-tight: var(--size-2,2px);
    --isk-padding-compact: var(--size-4,4px);
    --isk-padding-default: var(--size-8,8px);
    --isk-padding-decimal: var(--size-10,10px);
    --isk-padding-comfortable: var(--size-12,12px);
    --isk-padding-cosy: var(--size-14,14px);
    --isk-padding-spacious: var(--size-16,16px);
    --isk-padding-broad: var(--size-18,18px);
    --isk-padding-baggy: var(--size-24,24px);
    --isk-padding-page-edge: var(--size-64,64px);

    
}