
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    /*fonts*/
    --font-opensans: "Open Sans", sans-serif;

    /*colors*/
    /*$primary-color: #fff;
    $secondary-color: #639605;
    $accent-color: #e74c3c;
    $text-color: #555555;
    $background-color: #F4F4F4;*/
}