@import 'variables';
@import 'mixins';

body {
  font-family: var(--font-opensans);
  line-height: 1.6;
  height: 100vh;
  width: 100vw;
  background-color: #F4F4F4;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

main {
  margin-bottom: 60px;
}

main .section {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.section p {
  margin: auto 0;
  color: #555555;
  font-weight: bold;
  text-align: left;
}

button {
  width: 100%;
  max-width: 347px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 12px auto;
}

button:hover {
  background-color: #45a049;
}