form {
    min-width: 347px;
    width: 380px;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.form__container label {
    display: block;
    margin-bottom: 8px;

}

.form__container label::after {
    content: " *";
    color: #cc3872;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
    padding-left: 0;
    color: #C9C9C9;
}