/* Estilos básicos para la estructura */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  color: #fff;
  padding: 1rem;
  display: flex;
  margin: auto;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-header_logo{
  width: 159px;
  height: 18px;
}
.logo{
  margin: auto;
}
#root > div > header > nav{
  margin: 15px auto;
}
.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

@media (max-width: 768px) {
  /* Menú desplegable en pantallas más pequeñas */
  .header {
    display: flex;
    flex-direction: column;
    
  }
  
  /* Añadir aquí un botón "hamburger" para abrir el menú */
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {

  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
